
    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/js/fastclick.js}"></script>
    <!-- NProgress -->
    <script th:src="@{/js/nprogress.js}"></script>
    <!-- jQuery custom content scroller -->
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>

    <script th:src="@{/localjs/header.js}"></script>
    <!-- Custom Theme Scripts -->
    <script th:src="@{/js/custom.min.js}"></script>
    <!-- validator -->
<%--     <script th:src="@{/js/validator.js}"></script> --%>
    <!-- dropzone -->
    <script th:src="@{/js/dropzone.js}"></script>

<%--        vue--%>
    <script th:src="@{/js/vue.js}"></script>

<%--    vue-axios--%>
    <script th:src="@{/js/vue-axios.js}"></script>
