<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.test.mapper.DrugBatchMapper">
  <resultMap id="BaseResultMap" type="cn.test.pojo.DrugBatch">
    <!--@mbg.generated-->
    <!--@Table drug_batch-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="drug_id" jdbcType="BIGINT" property="drugId" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="residue_stock" jdbcType="INTEGER" property="residueStock" />
    <result column="production_date" jdbcType="DATE" property="productionDate" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, drug_id, stock, residue_stock, production_date, created_time, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from drug_batch
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from drug_batch
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.test.pojo.DrugBatch" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into drug_batch (drug_id, stock, residue_stock, 
      production_date, created_time, updated_time
      )
    values (#{drugId,jdbcType=BIGINT}, #{stock,jdbcType=INTEGER}, #{residueStock,jdbcType=INTEGER}, 
      #{productionDate,jdbcType=DATE}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.test.pojo.DrugBatch" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into drug_batch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="drugId != null">
        drug_id,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="residueStock != null">
        residue_stock,
      </if>
      <if test="productionDate != null">
        production_date,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="drugId != null">
        #{drugId,jdbcType=BIGINT},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="residueStock != null">
        #{residueStock,jdbcType=INTEGER},
      </if>
      <if test="productionDate != null">
        #{productionDate,jdbcType=DATE},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.test.pojo.DrugBatch">
    <!--@mbg.generated-->
    update drug_batch
    <set>
      <if test="drugId != null">
        drug_id = #{drugId,jdbcType=BIGINT},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="residueStock != null">
        residue_stock = #{residueStock,jdbcType=INTEGER},
      </if>
      <if test="productionDate != null">
        production_date = #{productionDate,jdbcType=DATE},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.test.pojo.DrugBatch">
    <!--@mbg.generated-->
    update drug_batch
    set drug_id = #{drugId,jdbcType=BIGINT},
      stock = #{stock,jdbcType=INTEGER},
      residue_stock = #{residueStock,jdbcType=INTEGER},
      production_date = #{productionDate,jdbcType=DATE},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>