<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.test.mapper.PrescriptionBatchDetailMapper">
  <resultMap id="BaseResultMap" type="cn.test.pojo.PrescriptionBatchDetail">
    <!--@mbg.generated-->
    <!--@Table prescription_batch_detail-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prescription_detail_id" jdbcType="BIGINT" property="prescriptionDetailId" />
    <result column="drug_batch_id" jdbcType="BIGINT" property="drugBatchId" />
    <result column="used_amount" jdbcType="INTEGER" property="usedAmount" />
    <result column="production_date" jdbcType="DATE" property="productionDate" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, prescription_detail_id, drug_batch_id, used_amount, production_date, created_time, 
    updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from prescription_batch_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from prescription_batch_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.test.pojo.PrescriptionBatchDetail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into prescription_batch_detail (prescription_detail_id, drug_batch_id, 
      used_amount, production_date, created_time, 
      updated_time)
    values (#{prescriptionDetailId,jdbcType=BIGINT}, #{drugBatchId,jdbcType=BIGINT}, 
      #{usedAmount,jdbcType=INTEGER}, #{productionDate,jdbcType=DATE}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.test.pojo.PrescriptionBatchDetail" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into prescription_batch_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prescriptionDetailId != null">
        prescription_detail_id,
      </if>
      <if test="drugBatchId != null">
        drug_batch_id,
      </if>
      <if test="usedAmount != null">
        used_amount,
      </if>
      <if test="productionDate != null">
        production_date,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prescriptionDetailId != null">
        #{prescriptionDetailId,jdbcType=BIGINT},
      </if>
      <if test="drugBatchId != null">
        #{drugBatchId,jdbcType=BIGINT},
      </if>
      <if test="usedAmount != null">
        #{usedAmount,jdbcType=INTEGER},
      </if>
      <if test="productionDate != null">
        #{productionDate,jdbcType=DATE},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.test.pojo.PrescriptionBatchDetail">
    <!--@mbg.generated-->
    update prescription_batch_detail
    <set>
      <if test="prescriptionDetailId != null">
        prescription_detail_id = #{prescriptionDetailId,jdbcType=BIGINT},
      </if>
      <if test="drugBatchId != null">
        drug_batch_id = #{drugBatchId,jdbcType=BIGINT},
      </if>
      <if test="usedAmount != null">
        used_amount = #{usedAmount,jdbcType=INTEGER},
      </if>
      <if test="productionDate != null">
        production_date = #{productionDate,jdbcType=DATE},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.test.pojo.PrescriptionBatchDetail">
    <!--@mbg.generated-->
    update prescription_batch_detail
    set prescription_detail_id = #{prescriptionDetailId,jdbcType=BIGINT},
      drug_batch_id = #{drugBatchId,jdbcType=BIGINT},
      used_amount = #{usedAmount,jdbcType=INTEGER},
      production_date = #{productionDate,jdbcType=DATE},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>